table, td{
    border: 1px solid black;
    border-collapse: collapse;
 }
tbody > tr:hover{
    background-color:aqua;
    color : greenyellow;
}
thead{
    font-weight:bold;
    background-color:red;
    color:pink;
}